* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html, body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

/* Removendo estilos padrão de listas */
ul, ol {
    list-style: none;
}

/* Resetando estilos padrão de links */
a {
    text-decoration: none;
    color: inherit;
}

/* Garantindo que botões e inputs tenham um estilo mais uniforme */
button, input, textarea {
    border: none;
    outline: none;
    background: none;
    font: inherit;
}

.logo {
    width: 250px;
    height: auto;
    align-self: center;
}

.foto-user {
    margin: 0 10px 0 0;
}

.hero-text {
    margin-top: 80px;
    height: 60%;
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content: end;
}

.hero { 
    color: white; 
    padding: 10px; 
    text-align: center;
    background-image: url(../image/bg-hero.jpg);
    text-shadow: 0 0 8px #000000 ;
    background-size: cover;
    background-repeat: no-repeat;
}

.n1 {
    background-image: url(../image/emergenci-msg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.pad {
    padding-top: 200px;
    padding-bottom: 200px;
}


.sc-down {
    overflow: scroll;
    height: 250px;
}

.n2 {
    background-image: url(../image/aviso.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.n3 {
    background-image: url(../image/ocorrencia.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.n4 {
    background-image: url(../image/ajuda.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.n5 {
    background-image: url(../image/primeiros-socorros.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.n6 {
    background-image: url(../image/video.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#map { 
    height: 400px;
    width: 80%;
    margin-top: 20px;
}

.bg-mapa {
    backgroun-color: rgb(172, 255, 183);
}

.list-pcr {
    margin: 0;
    padding: 0;
}


.section { 
    padding: 40px 20px; 
}

footer { 
    background: #222; 
    color: #A8A8A8; 
    text-align: center; 
    padding: 20px;
}

.icone-rede-social:hover {
    color: #0dff00;
    transition: 0.5s;
}

@media (min-width: 1360px) {
    .hero-text {
            margin-left: 10%;
    }

    .dd-menu {
    margin-left: 100px;
    }
}
